@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,400&family=Oswald:wght@300;400;500;600;700&family=PT+Sans:wght@400;700&display=swap");

:root {
    --red: #ef0f0f;
    --light-gray: #e1e1e1;
    --dark-bg: #121212;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: "Oswald";
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

#header {
    width: 100%;
    background-color: transparent;
    position: fixed;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 95%;
    background-color: transparent;
    height: 11.5vh;
    margin: 0 auto;
    transition: height 0.5s ease;
    position: relative;
}

.navItems {
    display: flex;
}

.navItems li {
    margin: 0 15px;
}

.navItems li a {
    color: var(--light-gray);
    transition: all 0.185s ease-in-out;
    padding: 7px;
    font-size: 17px;
    font-weight: 500;
}

.navItems li a:hover {
    color: #fff;
}

.active-nav {
    color: white !important;
    position: relative;
}

.active-nav::before {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 4px;
    background-color: var(--red);
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
}

.border-red {
    border: 3px solid var(--red);
    padding: 6px 25px !important;
    transition: all 0.25s ease-in-out;
}

.border-red:hover {
    background-color: var(--red);
}

/* -- HERO SECTION -- */
img {
    max-width: 100%;
}

#hero {
    background: url("../img/hero.png") no-repeat center center/cover;
    /* background-color: white;
    background-image: url("../img/herp.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top; */

    /* background-image: url("../img/herp.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
    padding: 0; */

    /* background: url("../img/herp.png") no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* position: relative; */
}

.hero-left {
    position: absolute;
    left: -60px;
    height: 280px;
    top: 3px;
}

#hero h1 {
    margin-bottom: 25px;
}

#hero h2 {
    margin-bottom: 25px;
}

#hero p {
    color: #e1e1e1;
    letter-spacing: 3px;
    line-height: 2rem;
    width: 45%;
    text-align: center;
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 20px;
}

.btn {
    padding: 11px 30px;
    color: white;
    background: #838383;
    letter-spacing: 1.05px;
    transition: all .2s ease-in-out;
}

.btn:hover {
    background-color: #e73a3a;
}

.btn-red {
    background-color: var(--red);
}

#hamburger {
    display: none;
}

#mobile-nav {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(39, 39, 39);
    color: white;
}

#mobile-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#mobile-nav ul li {
    margin-bottom: 25px;
}

#cross {
    position: absolute;
    top: 30px;
    right: 30px;
}

.show {
    display: block !important;
}

/* -- ABOUT -- */
#about-us {
    min-height: 90vh;
    background-color: var(--dark-bg);
}

#about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    /* background-color: #333; */
    min-height: 90vh;
    color: white;
}

#about h2 {
    margin: 25px 0;
    font-size: 58px;
}

#about p {
    color: var(--light-gray);
    font-size: 26px;
    font-weight: 300;
    line-height: 155%;
}

#about .left,
#about .right {
    width: 50%;
    /* border: 1px solid red; */
}

#about h3 {
    color: var(--red);
    font-size: 18px;
    letter-spacing: 0.145em;
}

#about .video {
    height: 415px;
}

#about .left {
    padding-right: 30px;
}

#about .right {
    display: flex;
    justify-content: center;
    position: relative;
    /* border: 1px solid white; */
    padding: 45px 20px;
    margin: 0 50px;
}

.left-border {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.right-border {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
}

.scrolling-active {
    background-color: #8181814b !important;
    color: #838383;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
}

.scrolling-active header {
    height: 8vh;
    /* align-items: center; */
}

#footer {
    background: black;
    color: white;
    padding: 10px 0;

}

#footer p {
    text-align: center;
    font-weight: 300;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    padding: 20px 0;
}

.footer-nav ul {
    display: flex;
}

.footer-nav ul li a {
    margin: 0 15px;
    color: #fff;
}

.footer-nav i {
    margin-right: 15px;
}

.btn-gray {
    background: transparent;
    border: 1px solid var(--red);
}

/* .video {
    position: relative;
}
.left-border {
    position: absolute;
    z-index: 100;
    left: 100px;
    top: 600px;
} */
@media screen and (max-width: 768px) {
    header {
        /* flex-direction: column; */
    }

    .navItems {
        display: none;
    }

    #hamburger {
        display: block;
    }

    #hero h1,
    #hero h2,
    #hero p {
        width: 80%;
    }

    .active-nav::before {
        bottom: -5px;
    }
}

@media screen and (max-width: 1080px) {

    #hero h1,
    #hero h2 {
        width: 70%;
        /* margin: 0 auto; */
    }

    #hero p {
        width: 58%;
    }

    #about {
        flex-direction: column;
        padding: 40px 0;
    }

    #about .left,
    #about .right {
        width: 90%;
        margin: 0 auto;

        /* border: 1px solid red; */
    }
}

@media screen and (max-width: 1400px) {
    #about h2 {
        font-size: 50px;
    }

    #about p {
        font-size: 20px;
    }

    #about h3 {
        font-size: 17px;
    }
}

#footer .shoutout {
    color: gray;
    position: absolute;
    bottom: 1;
    font-size: 12px;
    right: 22px;
}