@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,400&family=Oswald:wght@300;400;500;600;700&family=PT+Sans:wght@400;700&display=swap");
:root {
    --red: #ef0f0f;
    --light-gray: #e1e1e1;
    --dark-bg: #121212;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: "Oswald";
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    max-width: 100%;
}

.btn {
    padding: 11px 30px;
    color: white;
    background: #838383;
    letter-spacing: 1.05px;
}

.btn-red {
    background-color: var(--red);
}

.red-tag {
    color: var(--red);
    font-size: 22px;
}

.btn-gray {
    background: transparent;
    border: 1px solid var(--red);
}

.btn-gray:hover{
    background-color: #e1e1e12a;
}

/* --- HEADER --- */
#header {
    width: 100%;
    background-color: transparent;
    position: fixed;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 95%;
    background-color: transparent;
    height: 11.5vh;
    margin: 0 auto;
    transition: height 0.5s ease;
    position: relative;
}

.navItems {
    display: flex;
}

.navItems li {
    margin: 0 15px;
}

.navItems li a {
    color: var(--light-gray);
    transition: all 0.185s ease-in-out;
    padding: 7px;
    font-size: 17px;
    font-weight: 500;
}

.navItems li a:hover {
    color: red;
}

.active-nav {
    color: white !important;
    position: relative;
}

.active-nav::before {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 4px;
    background-color: var(--red);
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
}

.border-red {
    border: 3px solid var(--red);
    padding: 6px 25px !important;
    transition: all 0.25s ease-in-out;
}
.border-red:hover {
    background-color: #e1e1e12a;
}

.scrolling-active {
    background-color: #8181814b !important;
    color: #838383;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
    z-index: 99;
}
.scrolling-active header {
    height: 8vh;
    /* align-items: center; */
}

/* -- HERO SECTION -- */

#hero {
    background: url("../img/hero-min.png") no-repeat center center/cover;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* position: relative; */
}
.hero-left {
    position: absolute;
    left: -60px;
    height: 280px;
    top: 3px;
}
#hero h1 {
    margin-bottom: 25px;
}
#hero h2 {
    margin-bottom: 25px;
}
#hero p {
    color: #e1e1e1;
    letter-spacing: 3px;
    width: 45%;
    text-align: center;
    font-weight: 500;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 30px;
}

#bounce {
    position: absolute;
    bottom: 25px;
    animation-name: bounce-2;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes bounce-2 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-35px);
    }
    100% {
        transform: translateY(0);
    }
}

#hamburger {
    display: none;
}

.navbar ul li a:hover {
    color:red !important; 
}

#mobile-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    background-color: rgb(8, 8, 8);
    color: white;
    z-index: 99;
}

#mobile-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    animation: fadeIn 1.25s;
}

#mobile-nav ul li {
    margin-bottom: 25px;
}

#cross {
    position: absolute;
    top: 35px;
    right: 25px;
    animation: fadeIn 1.25s;
}

.show {
    display: block !important;
}

/* --- ABOUT --- */

#about-us {
    min-height: 90vh;
    background-color: var(--dark-bg);
}
#about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    /* background-color: #333; */
    min-height: 90vh;
    color: white;
}
#about h2 {
    margin: 25px 0;
    font-size: 58px;
}
#about p {
    color: var(--light-gray);
    font-size: 26px;
    font-weight: 300;
    line-height: 155%;
}
#about .left,
#about .right {
    width: 50%;
    /* border: 1px solid red; */
}

#about .video {
    height: 415px;
}
#about .left {
    padding-right: 30px;
}
#about .right {
    display: flex;
    justify-content: center;
    position: relative;
    /* border: 1px solid white; */
    padding: 45px 20px;
    margin: 0 50px;
}

.left-border {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.right-border {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
}

/* ---Footer--- */

#footer {
    background: black;
    color: white;
    padding: 20px 0;
}
#footer p {
    text-align: center;
    font-weight: 300;
}
.footer-nav {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    padding: 20px 0;
}

.footer-nav ul {
    display: flex;
}

.footer-nav ul li a {
    margin: 0 15px;
    color: #fff;
}
.footer-nav i {
    margin-right: 15px;
}

/* ---------- PROJECT PAGE ----------- */
.project-wrap {
    background-color: #121212;
    color: white;
}
#project {
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}
#project .left,
#project .right {
    width: 50%;
}
#project .left h2 {
    font-size: 47px;
    margin-top: 40px;
}
#project .right h2 {
    font-size: 47px;
}
#project .right {
    text-align: center;
}
#project .right p {
    width: 60%;
    margin: 0 auto;
    font-size: 21px;
    margin-top: 17px;
}
#project .left p {
    font-size: 30px;
}
#project .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
#project .left img {
    margin-top: 50px;
    margin-left: -70px;
}
.graycl {
    color: #bababa;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* ---- OUTREACH PAGE ----*/
.half-hero {
    max-height: 62vh;
}
.outreach {
    background: url("../img/OutReach-banner.png") no-repeat center center/cover !important;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.half-hero h1 {
    font-size: 52px;
    color: white;
    margin-bottom: 5px !important;
}
.half-hero p,
.half-hero h1 {
    text-align: center !important;
}

/* -- Event Section --*/
#event {
    min-height: 50vh;
    background: #121212;
    position: relative;
}
.event-container {
    width: 90%;
    /* margin: 0 auto; */
    background: #1c1a1b;
    height: auto;
    /* margin-top: -200px; */
    position: absolute;
    transform: translate(-50%, -30%);
    left: 50%;
    border-radius: 5px;
    padding: 40px 0;
    z-index: 0;
}
.event-container .left,
.event-container .right {
    /* border: 1px solid white; */
    width: 50%;
}
.event-container .right {
    padding-left: 50px;
}
.event-details {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 25px 55px;
    width: 100%;
}
.event-details h1 {
    color: white;
    font-size: 50px;
}
.blue-txt {
    color: #346dff;
}
.speaker {
    background: #2c2929;
    width: 62%;
    display: flex;
    justify-content: space-between;
    padding: 18px 28px;
    /* padding-left: 30px; */
    margin-top: 45px;
}
.speaker img {
    width: 50px;
    height: 50px;
    /* margin-right: 20px; */
}
.speaker h2 {
    color: white;
}
.speaker p {
    color: #bababa;
    font-size: 19px;
}
.speaker-details {
    margin-left: 20px;
}
.speaker-details h2 {
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
}
.link {
    color: #e1e1e1;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

/* --Rocket Section --*/
#rocket {
    background: #121212;
    padding: 180px 0;
}
#rocket p {
    color: #bababa;
    font-size: 23px;
    margin-bottom: 45px;
}
.rocket-wrap {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.rocket-wrap .left,
.rocket-wrap .right {
    width: 50%;
}
.rocket-wrap .right {
    padding-left: 100px;
}

/* ----- SPONSOR PAGE ----- */
.sponsor {
    background: #121212 !important;
}
#logos {
    background: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#logos .top {
    display: flex;
    justify-content: center;
    align-items: center;
}
#logos .bottom {
    margin: 85px 0;
}
#logos .top img {
    margin: 0 40px;
}

/* -- PRIVATE SPONSOR SECTION -- */
#private-sponsors {
    background: #121212;
    min-height: 110vh;
    padding: 170px 0;
    position: relative;
    padding-top: 250px;
}
#private-sponsors h1 {
    font-size: 52px;
    color: white;
    margin-bottom: 5px !important;
}
#private-sponsors p,
#private-sponsors h1 {
    text-align: center !important;
    color: white;
}
.s-triangle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}
.private-sponsor_details {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 90px;
}

.private-sponsor_details h3 {
    margin-bottom: 20px;
    font-size: 37px;
    font-weight: 500;
}
.private-sponsor_details p {
    font-size: 20px;
    letter-spacing: 1.1px;
    color: #e1e1e1;
    margin: 5px 0;
}
#sponsors-thanks {
    margin-top: 250px;
}
#sponsors-thanks div {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 20px 0; */
    margin-top: 90px;
}
#sponsors-thanks div img {
    margin: 0 25px;
}
@media screen and (max-width: 768px) {
    header {
        /* flex-direction: column; */
    }
    .navItems {
        display: none;
    }
    #hamburger {
        display: block;
    }
    #hero h1,
    #hero h2,
    #hero p {
        width: 80%;
    }
    #hero p {
        width: 80% !important;
    }

    .active-nav::before {
        bottom: -5px;
    }
    .footer-nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-nav ul {
        margin: 20px 0;
        flex-direction: column;
        text-align: center;
    }
    .footer-nav ul li {
        margin: 10px 0;
        letter-spacing: 1.5px;
    }
    .left-border {
        left: -30px;
    }
    .right-border {
        right: -30px;
    }
    .social-icons i {
        margin-left: 12px;
    }
    #about .left {
        padding-right: 0px;
    }
    .event-details .right {
        width: 100% !important;
    }
    #logos .top,
    #logos .bottom {
        width: 70%;
        margin: 0 auto;
    }
    #private-sponsors {
        padding-right: 25px;
        padding-left: 25px;
    }
    #sponsors-thanks div {
        flex-direction: column;
    }
}
@media screen and (max-width: 950px) {
    .navItems {
        display: none;
    }
    #hamburger {
        display: block;
    }
    #logos .top {
        flex-direction: column;
    }
    #logos .bottom {
        margin-top: 0;
    }
    #logos .top img {
        display: inline-block;
        margin-bottom: 55px;
    }
}
@media screen and (max-width: 1080px) {
    #hero h1,
    #hero h2 {
        width: 70%;
        /* margin: 0 auto; */
    }

    #hero p {
        width: 58%;
    }
    #about {
        flex-direction: column;
        padding: 40px 0;
    }
    #about .left,
    #about .right {
        width: 90%;
        margin: 0 auto;

        /* border: 1px solid red; */
    }
    #project {
        flex-direction: column;
        padding: 70px 0;
    }
    #project .left,
    #project .right {
        width: 90%;
        margin: 30px auto;
    }
    #project .right p {
        width: 90%;
        margin: 0 auto;
        font-size: 21px;
        margin-top: 17px;
    }
    .rocket-wrap {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .rocket-wrap .left,
    .rocket-wrap .right {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .rocket-wrap .right {
        padding-left: 0px;
    }
    .rocket-wrap p {
        text-align: center;
    }
    .rocket-wrap .left {
        margin-bottom: 60px;
    }
}
@media screen and (max-width: 1300px) {
    .event-container {
        width: 95%;
    }
    .event-details {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .event-container h1 {
        text-align: center;
    }
    .speaker {
        justify-content: center;
    }
    .event-container {
        transform: translate(-50%, -18%);
    }
    .event-details .left,
    .event-details .right {
        width: 80%;
        margin: 0 auto;
        align-item: center;
    }
    .speaker {
        margin: 20px auto;
        width: 420px !important;
        margin-bottom: 30px;
    }
    .event-details .right {
        display: flex;
        justify-content: center;
    }
    .link {
        padding: 0 60px;
    }
    #rocket {
        padding-top: 400px;
    }
    #logos img {
        width: 380px;
    }
    /* #logos .bottom img {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    } */
}
@media screen and (max-width: 1400px) {
    #about h2 {
        font-size: 50px;
    }
    #about p {
        font-size: 20px;
    }
    #about h3 {
        font-size: 17px;
    }
    .speaker {
        width: 75%;
    }
}